.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

h1 {
  font-family: "Pacifico", cursive;
}

.spantext {
  color: rgb(74, 58, 76);
}

h3 {
  font-family: "Pacifico", cursive;
}

h2 {
  font-family: "Pacifico", cursive;
}

.me-md-2 {
  margin-right: 0.5rem !important;
  margin-top: 10px;
  background: linear-gradient(300deg, #ef5f5f, #9ee02c, #b871ff);
  animation: gradient-animation 18s ease infinite;
}
.mybutton {
  margin-top: 10px;
  background: linear-gradient(300deg, #ef5f5f, #9ee02c, #b871ff);
  animation: gradient-animation 18s ease infinite;
}
.adv {
  margin-bottom: 50px;
}

@media (max-width: 400px) {
  .img1 {
    padding-left: 50px;
  }
  .mybutton {
    width: 334px;
  }
  .d-grid {
    margin-bottom: 20px;
  }

  .advpic {
    margin-bottom: 25px;
  }
  .adv {
    margin-bottom: 25px;
  }
}
